body
{
	font-family: Helvetica;
	text-align: center;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	margin: 0;
	padding: 0;
	width: 100%;
}

/*Header*/

#header
{
	height: 69px;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid seashell;
	justify-content: space-between;
	position: fixed;
	z-index: 1;
	background-color: black;
}

#header .logo img
{
	height: 50px;
	margin-left: 10px;
}

#header .nav a
{
	padding: 10px;
	color: seashell;
	opacity: 0.9;
}

/*Content*/

#content
{
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	top: 70px;
}

/*Section 1*/

#content .section1
{
	height: 700px;
	width: 1200px;
	background-image: url(img-mission-background.jpg);
	display: flex;
	align-items: center;
}

#content .section1 .text
{
	width: 100%;
	height: 120px;
	background-color: black;
}

.section1 .text h2, h4
{
	position: relative;
	top: -15px;
}

/*Section2*/

.section2
{
	position: relative;
	top: 30px;
}

.section2 .imagesline1
{
	display: flex;
	justify-content: center;
}

.images img
{
	height: 200px;
	width: 300px;
	padding: 0px 15px;
}

.section2 .imagesline2
{
	display: flex;
	justify-content: center;
}

/*Section3*/

.section3
{
	background-image: url(img-locations-background.jpg);
	height: 550px; /*not 500px because it would be cropped too much*/
	width: 1200px;
	position: relative;
	top: 50px;
}

.section3 h2
{
	position: relative;
	top: 50px;
}

.section3 .content
{
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	top: 40px;
}

.section3 .content .column
{
	width: 300px;
	height: 270px;
	background-color: black;
	margin: 0 20px;
}

.section3 .content .column h3, p
{
	line-height: 1.5;
}

/*Footer*/

#footer
{
	width: 100%;
	height: 200px;
	position: relative;
	top: 110px;
}

#footer .info h5
{
	position: relative;
	top: 15px;
}

.copyright h5
{
	text-align: left;
	position: relative;
	top: 100px;
	margin-left: 20px;
}



